<section class="clients">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 text-center m-auto mt-5">

                <h2 class="mb-3 ">
                    Our Clients
                </h2>
                <p class="mb-3">
                    Sed ut perspiciatis unde omins iste natus error sit
                    voluptatern
                    accusantium doloremque dere santome nida .
                </p>
            </div>
        </div>

        <div class="row mt-5 pb-5">
            <div class="col-md-3 card">
                <div class="p-5  text-center">
                    <img src="../../../assets/images/clients/client-1.png" alt="">
                </div>
           
            </div>
            <div class="col-md-3 card" >
                <div class="p-5 text-center">
                    <img src="../../../assets/images/clients/client-2.png" alt="">
                </div>
           
            </div>
            <div class="col-md-3 card" >
                <div class="p-5 text-center">
                    <img src="../../../assets/images/clients/client-3.png" alt="">
                </div>
           
            </div>
            <div class="col-md-3 card" >
                <div class="p-3 text-center">
                    <img src="../../../assets/images/clients/client-4.png" alt="">
                </div>
                
           
            </div>

            <div class="col-md-3 card" >
                <div class="p-5 text-center">
                    <img src="../../../assets/images/clients/client-5.png" alt="">
                </div>
           
            </div>

            <div class="col-md-3 card" >
                <div class="p-5 text-center">
                    <img src="../../../assets/images/clients/client-6.png" alt="">
                </div>
           
            </div>
            <div class="col-md-3 card" >
                <div class="p-5 text-center">
                    <img src="../../../assets/images/clients/client-7.png" alt="">
                </div>
           
            </div>

            <div class="col-md-3 card" >
                <div class="p-5 text-center">
                    <img src="../../../assets/images/clients/client-8.png" alt="">
                </div>
           
            </div>
        </div>
    </div>
</section>
