<section class="about-us">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 text-center m-auto mt-5">

                <h2 class="mb-3 ">
                    About us
                </h2>
                <p class="mb-5">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, itaque corporis voluptas inventore necessitatibus ipsa.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  p-3">
                <div class="content ">
                    <p class="mb-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat debitis quod exercitationem accusamus, non sequi incidunt nisi, deserunt voluptatum aut, molestias tempore blanditiis itaque ducimus eos quidem tempora eum voluptates eaque! 
                    </p>
                    <div class="row mt-1 d-flex justify-content-between">
                        <div class="col-md-2 m-auto">
                         
                                <i class="fa fa-shopping-bag p-3" aria-hidden="true"></i>
                         
                        </div>
                        <div class="col-md-10">
                            <div class="content">
                                <h5>
                                   Eiusmod Tempor 
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium quibusdam soluta.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="col-md-2 m-auto">
                          
                                <i class="fa fa-image p-3" aria-hidden="true"></i>
                              
                           
                        </div>
                        <div class="col-md-10">
                            <div class="content">
                                <h5>
                                   Magni Dolores 
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium quibusdam soluta.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-2 m-auto">
                          
                               <i class="fa fa-bar-chart p-3" aria-hidden="true"></i>
                              
                          
                        </div>
                        <div class="col-md-10">
                            <div class="content">
                                <h5>
                                Dolor Sitema
                                </h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus laudantium quibusdam soluta.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-img">
                    <img src="../../../assets/images/about-img.svg" alt="">
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-6">
                <div class="content-img">
                    <img src="../../../assets/images/about-extra-1.svg" alt="">
                </div>
            </div>
            <div class="col-md-6  p-3">
                <div class="content ">
                    <h5 class="mb-4">
                        Voluptatem dignissimos provident quasi corporis voluptates sit assumenda
                    </h5>
                    <p class="mb-3">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio quo ipsum? Maxime accusamus voluptate quae consequuntur, aperiam quod odit ipsam, qui similique ab et provident, dolores voluptates ducimus laborum.
                    </p>
                    <p class="mb-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio quo ipsum? Maxime accusamus voluptate quae consequuntur, aperiam quod odit ipsam, qui similique ab et provident, dolores voluptates ducimus laborum.
                     </p>
                </div>
            </div>

         
        </div>

        <div class="row mt-3">

          
            <div class="col-md-6  p-3">
                <div class="content ">
                    <h5 class="mb-4">
                        Voluptatem dignissimos provident quasi corporis voluptates sit assumenda
                    </h5>
                    <p class="mb-3">
                       Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio quo ipsum? Maxime accusamus voluptate quae consequuntur, aperiam quod odit ipsam, qui similique ab et provident, dolores voluptates ducimus laborum.
                    </p>
                    <p class="mb-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio quo ipsum? Maxime accusamus voluptate quae consequuntur, aperiam quod odit ipsam, qui similique ab et provident, dolores voluptates ducimus laborum.
                     </p>
                     <p class="mb-3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus odio quo ipsum? Maxime accusamus voluptate quae consequuntur, aperiam quod odit ipsam, qui similique ab et provident, dolores voluptates ducimus laborum.
                     </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="content-img">
                    <img src="../../../assets/images/about-extra-2.svg" alt="">
                </div>
            </div>

         
        </div>
    </div>
</section>
