<section class="choose-us">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 text-center m-auto mt-5">

                <h2 class="mb-3 ">
                    Team  
                </h2>
                <p class="mb-3">
                   Sed ut perspiciatis unde omins iste natus error sit voluptatern accusantium doloremque.
                </p>
            </div>
        </div>

        <div class="row mb-5 mt-5 d-flex justify-content-between">
            <div class="col-md-3 text-center mb-4">
                <img src="../../../assets/images/team-1.jpg" alt="">
                </div>
                <div class="col-md-3 text-center mb-4">
                    <img src="../../../assets/images/team-2.jpg" alt="">
                    </div>
                    <div class="col-md-3 text-center mb-4">
                        <img src="../../../assets/images/team-3.jpg" alt="">
                        </div>
                        <div class="col-md-3 text-center mb-4">
                            <img src="../../../assets/images/team-4.jpg" alt="">
                            </div>
                </div>
        </div>
        </section>
