<section class="choose-us">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 text-center m-auto mt-5">

                <h2 class="mb-3 ">
                    Why choose us ?
                </h2>
                <p class="mb-3">
                    Laudem latine persequeris id sed, ex fabulas delectus quo.
                    no vel partiendo abhorreant vituperatoribus.
                </p>
            </div>
        </div>
        <div class="row mb-5 mt-5 d-flex justify-content-between">
            <div class="col-md-4 text-center  mb-4">
                <div class="card p-3">

                    <i class="fa fa-diamond mt-5" aria-hidden="true"></i>
                    <h3 class="mt-3">Corpois dolorem</h3>
                    <p class="mt-3">
                        Deleniti optio et nisi dolorem debitis. 
                        Aliquam nobis est temporibus sunt ab 
                        invevtore officiis aut voluptatibus
                    </p>
                    <div class="mb-4">
                        <a href="#">Read more</a>
                    </div>

                </div>
            </div>

            <div class="col-md-4 text-center  mb-4">
                <div class="card p-3">
                    <i class="fa fa-language  mt-5" aria-hidden="true"></i>

                    <h3 class="mt-3">Voluptates dolorem</h3>
                    <p class="mt-3">
                        Deleniti optio et nisi dolorem debitis.
                        Aliquam nobis est temporibus sunt ab 
                        invevtore officiis aut voluptatibus
                    </p>
                    <div class="mb-4">
                        <a href="#">Read more</a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 text-center  mb-4">
                <div class="card p-3">
                    <i class="fa fa-object-group mt-5" aria-hidden="true"></i>
                    <h3 class="mt-3">Eum ut aspernatur </h3>
                    <p class="mt-3">
                        Deleniti optio et nisi dolorem debitis. 
                        Aliquam nobis est temporibus sunt ab 
                        invevtore officiis aut voluptatibus
                    </p>
                    <div class="mb-4">
                        <a href="#">Read more</a>
                    </div>

                </div>
            </div>
        </div>

        <div class="row mb-5 mt-5 d-flex justify-content-between">
            <div class="col-md-3 text-center  mb-4">
                <div >
                    <p class="number">
                        274
                    </p>
                    <p>
                        Clients
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center  mb-4">
                <div >
                    <p class="number">
                        421
                    </p>
                    <p>
                        Projects
                    </p>
                </div>
            </div>
            <div class="col-md-3 text-center  mb-4">
                <div >
                    <p class="number">
                        1,364
                    </p>
                    <p>
                        Hours of support
                    </p>
                </div>
            </div> <div class="col-md-3 text-center  mb-4">
                <div >
                    <p class="number">
                        18
                    </p>
                    <p>
                        Hard workers
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
