.choose-us{
    background-color: #254A9A;
    color: #ebebeb;

}
.card{
    background-color: #21458F;
    color: #ebebeb;
    border: none;
}
.fa{
    font-size: 2rem;
}
a{
    color: #ebebeb;
    text-decoration: none;font-weight: 500;
}
.number{
    font-size: 3rem;
    font-weight: bold;
}